<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
</head>
<body>
<h1>Welcome to the Text analyzer. Enter your text: </h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 632px; height: 50px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <button type='submit'> Analyze Text</button>
</form>
</body>
</html>