@charset "utf-8";
/* CSS Document */

fname{
	background-color:#9C3;
	font-size:18px;
	font-family:Calibri;
	display:inline-block;
	width:20%;
	
}
lname{
	background-color:#FC6;
	font-size:18px;
	font-family:Calibri;
	display:inline-block;
	width:20%;
		
}
code{
	background-color:#F33;
	font-size:18px;
	font-family:Calibri;
	display:block;
	width:40%	
}
course{
	background-color:#F6C;
	font-size:18px;
	font-family:Calibri;
	display:block;
	width:40%	
}
validity{
	background-color:#6C3;
	font-size:18px;
	font-family:Calibri;
	display:inline-block;
	width:20%	
}
mobile{
	background-color:#3CF;
	font-size:18px;
	font-family:Calibri;
	display:block;
	width:40%	
}
email{
	background-color:#FC3;
	font-size:18px;
	font-family:Calibri;
	display:block;
	width:40%	
}	